<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <packageSources>
        <clear />
        <add key="Nexus" value="https://nexus.adsrvr.org/repository/ttd-nuget/" />
        <add key="NexusPrerelease" value="https://nexus.adsrvr.org/repository/ttd-nuget-prerelease/" />
        <add key="nuget.org" value="https://nexus.adsrvr.org/repository/nuget-dot-org-proxy/" />
    </packageSources>

</configuration>
