jsonschema
pandas
protobuf == 3.20.0
PyYAML
pytest
tensorflow == 2.8.0
tensorflow_probability == 0.16.0
tensorflow-serving-api == 2.8.0
tensorflow_addons
# enabling nexus pypi repo
--extra-index-url https://${PYPI_READ_USERNAME}:${PYPI_READ_PASSWORD}@nex.adsrvr.org/repository/pypi/simple
dalgo_utils